@import "tailwindcss";




html, body {
  overflow-x: hidden;
}



@font-face {
  font-family: "HelveticaExtraBold";
  src: url("/fonts/HelveticaNowText-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 1000;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf") format("truetype");
  font-weight: 500;
}

.font-helvetica {
  font-family: "Helvetica", sans-serif;
}

.font-helveticaExtraBold {
  font-family: "HelveticaExtraBold", sans-serif;
}

